# .gitignore for WINDEV, WEBDEV and WINDEV Mobile projects
#
# WINDEV – WEBDEV – WINDEV Mobile
Backup
Bin
cache.gestion de sources
Corbeille
Groupware
Lastsave
Sauvegarde
Gabarits
*.cache
*.cpl
*.env
*.rep
*.waudit
*.wdcoverage
*.wpf
HstDuree.log
Folder.ico
desktop.ini
#
#WEBDEV
*\res
*.awl
*.awp
#
# WINDEV Mobile 
android
*.xcode.gen
Svg_V26_20220329_0844